In [1]:
%%time

import xlrd, xlwt
import pandas as pd

Wall time: 4.26 s

## 2.1 ##

In [2]:
wb = xlrd.open_workbook('tab.xlsx')
sheet_names = wb.sheet_names()
sh = wb.sheet_by_name(sheet_names[0])
nmin = sh.row_values(6)[2]
for rownum in range(7, 27):
    temp = sh.row_values(rownum)
    nmin = min(nmin, temp[2])
print(nmin)

39650.2

## 2.2 ##

In [201]:
rb = xlrd.open_workbook('salaries.xlsx')

In [202]:
sheet = rb.sheet_by_index(0)
val = [sheet.row_values(rownum) for rownum in range(sheet.nrows)]

In [203]:
string_len = len(val[0]) - 1 # количество профессий (длина строки минус название региона)
region_med_salary = {} # словарь для зарплатных медиан

for i in val[1:]: # цикл для перебора списков
    
    x = sorted(i[1:]) # сортирую список
    
    if string_len % 2 != 0: # если нечетное кол-во
        region_med_salary[i[0]] = sorted(x)[string_len//2]
        
    else: # если четное
        region_med_salary[i[0]] = (x[(string_len//2)] + x[(string_len//2)+1]) / 2


max_value = max(region_med_salary.values()) # максимальное значение
best_city = list({k: v for k, v in region_med_salary.items() if v == max_value}) # город с самой высокой зп

print('Самая высокая зарплата в г. ', final_dict)

average_salary = {} # словарь для среднего по зарплате

for x in range(string_len-1): # цикл для столюцов
    sum_pr = 0
    for y in range(len(val)-1):
        sum_pr += val[y+1][x+1]
        average_salary[val[0][x+1]] = round(sum_pr / (string_len-1),1)
        
        
max_value = max(average_salary.values()) # максимальное значение зп
best_job = list({k: v for k, v in average_salary.items() if v == max_value}) # профессия с самой высокой зп в среднем

print('Профессия с самой высокой зарплатой по всем регионам: ', best_job)

Самая высокая зарплата в г.  ['Куала-Лумпур']
Профессия с самой высокой зарплатой по всем регионам:  ['Собачий парикмахер']

In [242]:
df = pd.read_excel('salaries.xlsx')

In [210]:
df.columns = ['city', 'Programmer', 'Сleaning Manager', 'Designer of online courses', 'Dog Barber',
                 'Teacher for neural networks', 'mounted police Officer', 'Actor for the role of the sandwich man']

In [226]:
df.head(10)

,city,Programmer,Сleaning Manager,Designer of online courses,Dog Barber,Teacher for neural networks,mounted police Officer,Actor for the role of the sandwich man,Median_salary
0,Москва,765,9876,546585,6,65876,765,213,NaN
1,Улан-Батор,87,87698,7698,965765,769,659,21523,NaN
2,Посёлок гидроузла имени Куйбышева,987595,87,5,7676,8765,9,4356,NaN
3,Крёкшино,9876,8769,9859,897698,7,69,342,NaN
4,Станица Юго-Северная,8769,987687,23,1212,9876,23871,3224,NaN
5,Куала-Лумпур,189710,787,765679,9769,57686,769829,53632,NaN
6,Хабнарфьордюр,65,76796,807,765685,97659,56913,32,NaN
7,Ытык-Кюёль,769,786578,1368,59625,6758,76587,3453,NaN

In [244]:
def median_salary(row):
    return row.iloc[1:].median()

In [245]:
df['Median_salary'] = df.apply(median_salary, axis=1)

In [246]:
df.sort_values(by='Median_salary', ascending=False).head()

,Unnamed: 0,Программист,Менеджер по клинингу,Дизайнер онлайн-курсов,Собачий парикмахер,Учитель для нейросетей,Сотрудник конной милиции,Актёр на роль человека-бутерброда,Median_salary
5,Куала-Лумпур,189710,787,765679,9769,57686,769829,53632,57686.0
6,Хабнарфьордюр,65,76796,807,765685,97659,56913,32,56913.0
3,Крёкшино,9876,8769,9859,897698,7,69,342,8769.0
4,Станица Юго-Северная,8769,987687,23,1212,9876,23871,3224,8769.0
1,Улан-Батор,87,87698,7698,965765,769,659,21523,7698.0

In [243]:
df.mean().sort_values(ascending=False)

Собачий парикмахер                   338429.500
Менеджер по клинингу                 244784.750
Дизайнер онлайн-курсов               166503.000
Программист                          149704.500
Сотрудник конной милиции             116087.750
Учитель для нейросетей                30924.500
Актёр на роль человека-бутерброда     10846.875
dtype: float64

## 2.3 ##

In [26]:
wb = xlrd.open_workbook('trekking1.xlsx') # читаю таблицу
sheet = wb.sheet_by_index(0)
val = [sheet.row_values(rownum) for rownum in range(sheet.nrows)]

In [37]:
products = {} # создаю словарь с продуктами
for i in val:
    products[i[0]] = i[1]
del products['']

new_prod = sorted(products.items(), key=lambda x: (-x[1], x[0])) # сортирую по значениям, затем по алфавиту

In [68]:
for i in new_prod:
    print(i[0])

Шоколад молочный какао
Шоколад молочный миндаль
Сухофрукты
Омлет с копченостями галагала
Свинина сублимрованная
Шоколад ремесленный
Козинак подсолнечный
Омлет с грибами галагала
Козинак арахисовый
Хлебцы льняные "Тайские"
Колбаса с/к "Еврейская полусухая"
Говядина сублимрованная
Сухарики ржаные с семечками
Хлебцы льняные Морские
Суп говяжий с картофелем галагала
Суп гороховый с копченостями
Суп гороховый с копченостями галагала
Суп куриный с картофелем галагала
Суп-гуляш галагала
Суп-харчо "Острый"
Сыр Маасдам
Сыр Чеддер
Борщ Московский Галагала
Крупа гречневая
Рис пропаренный Увелка
Свинина Кронидов
Сухарики ржаные Finn Crisp
Капеллини Макфа
Сыр Гауда
Кус Кус
Каша Быстров
Картофель сушеный
Говядина Кронидов
Хлебцы с чесноком и луком
Суп томатный с рисом
Балык "Королевский"
Паутина

In [66]:
with open('products.txt', 'w') as f:
    for i in new_prod:
        f.write('', i[0] +'\n')

In [29]:
df = pd.read_excel('trekking1.xlsx')

In [5]:
df.columns = ['Product', 'Kcal', 'Protein', 'Fat', 'Carbohydrate']

In [6]:
df.head()

                             Product   Kcal  Protein   Fat  Carbohydrate
0                         Сухофрукты  548.0     12.8  40.8          32.4
1                       Каша Быстров  334.0      8.6   4.8          64.0
2                Балык "Королевский"  170.0     25.0   8.0           NaN
3  Колбаса с/к "Еврейская полусухая"  481.0     19.0  45.0           NaN
4       Суп гороховый с копченостями  390.0     16.0  11.0          52.0

In [42]:
df.sort_values(by=['Kcal', 'Product'], ascending=[False, True], inplace=True)

In [43]:
df.head(37)

                                  Product   Kcal  Protein   Fat  Carbohydrate
14                 Шоколад молочный какао  601.0      7.0  43.0          46.0
15               Шоколад молочный миндаль  574.0      7.7  38.2          49.5
0                              Сухофрукты  548.0     12.8  40.8          32.4
35          Омлет с копченостями галагала  544.0     45.0  30.0           4.7
26                 Свинина сублимрованная  543.0     58.0  35.0           NaN
16                    Шоколад ремесленный  540.0     10.8  37.8          37.1
13                   Козинак подсолнечный  530.0     14.0  37.0          36.0
34               Омлет с грибами галагала  526.0     43.0  30.0           4.7
12                     Козинак арахисовый  520.0     15.0  26.0          55.0
21               Хлебцы льняные "Тайские"  507.0     19.0  39.0          20.0
3       Колбаса с/к "Еврейская полусухая"  481.0     19.0  45.0           NaN
25                Говядина сублимрованная  474.0     73.0  20.0           NaN
20            Сухарики ржаные с семечками  451.0     17.3  16.0          59.5
22                 Хлебцы льняные Морские  436.5     14.1  29.0           1.5
30      Суп говяжий с картофелем галагала  390.0     12.2  12.0          56.4
4            Суп гороховый с копченостями  390.0     16.0  11.0          52.0
31  Суп гороховый с копченостями галагала  390.0     16.0  11.0          52.0
29      Суп куриный с картофелем галагала  390.0     15.0  12.0          56.4
28                     Суп-гуляш галагала  382.0     15.0  10.0          55.0
32                     Суп-харчо "Острый"  370.0     13.5  10.0          55.6
17                            Сыр Маасдам  370.0     25.0  30.0           NaN
19                             Сыр Чеддер  369.0     23.5  30.5           NaN
27               Борщ Московский Галагала  360.0     15.0  10.0          52.0
9                         Крупа гречневая  360.0     13.0   2.0          72.0
8                  Рис пропаренный Увелка  350.0      8.0   1.0          78.0
7                        Свинина Кронидов  349.0     13.0  33.0           NaN
11             Сухарики ржаные Finn Crisp  347.0     10.0   2.6          61.0
10                        Капеллини Макфа  344.0     12.5   1.3          70.5
18                              Сыр Гауда  338.0     26.0  26.0           NaN
36                                Кус Кус  336.0     12.7   0.6          77.4
1                            Каша Быстров  334.0      8.6   4.8          64.0
33                      Картофель сушеный  333.0      6.0  74.0           NaN
6                       Говядина Кронидов  213.0     15.0  17.0           NaN
24              Хлебцы с чесноком и луком  212.0      7.9   1.3          43.3
5                    Суп томатный с рисом  205.5      4.7   1.3          42.2
2                     Балык "Королевский"  170.0     25.0   8.0           NaN
23                                Паутина   12.0      NaN   NaN           NaN

Васю назначили завхозом в туристической группе и он подошёл к подготовке ответственно, составив справочник продуктов с указанием калорийности на 100 грамм, а также содержание белков, жиров и углеводов на 100 грамм продукта. Ему не удалось найти всю информацию, поэтому некоторые ячейки остались незаполненными (можно считать их значение равным нулю). Также он использовал какой-то странный офисный пакет и разделял целую и дробную часть чисел запятой. Таблица доступна по ссылке https://stepik.org/media/attachments/lesson/245290/trekking2.xlsx 

Вася составил раскладку по продуктам на один день (она на листе "Раскладка") с указанием названия продукта и его количества в граммах. Посчитайте 4 числа: суммарную калорийность и граммы белков, жиров и углеводов. Числа округлите до целых вниз и введите через пробел.

In [2]:
%%time

wb = xlrd.open_workbook('trekking2.xlsx') # читаю таблицу
sheet_1 = wb.sheet_by_index(0)
sheet_2 = wb.sheet_by_index(1)

val_1 = [sheet_1.row_values(rownum) for rownum in range(sheet_1.nrows)]
val_2 = [sheet_2.row_values(rownum) for rownum in range(sheet_2.nrows)]

for i in val_1:
    if i[4] == '':
        i[4] = 0
        
calorific_value = [0, 0, 0, 0] # список для подсчета

all_products = {} # создаю словарь с продуктами

for i in val_1:
    all_products[i[0]] = i[1:]

    
out_products = {} # словарь для раскладки

for i in val_2:
    if i[0] not in out_products:
        out_products[i[0]] = i[1]
        
    else:
        out_products[i[0]] += i[1]


del out_products['Продукт']


for k, v in out_products.items():
    for n in enumerate(all_products[k]):
        calorific_value[n[0]] += (out_products[k] * n[1]) / 100
        
        
for i in calorific_value:
    print(int(i), end=' ')

4963 203 307 302 Wall time: 117 ms

In [178]:
val_1 = [sheet_1.row_values(rownum) for rownum in range(sheet_1.nrows)]
val_2 = [sheet_2.row_values(rownum) for rownum in range(sheet_2.nrows)]

In [179]:
for i in val_1:
    if i[4] == '':
        i[4] = 0

In [180]:
calorific_value = [0, 0, 0, 0] # список для подсчета

In [181]:
all_products = {} # создаю словарь с продуктами

for i in val_1:
    all_products[i[0]] = i[1:]

In [182]:
out_products = {} # словарь для раскладки

for i in val_2:
    if i[0] not in out_products:
        out_products[i[0]] = i[1]
        
    else:
        out_products[i[0]] += i[1]


del out_products['Продукт']

In [184]:
for k, v in out_products.items():
    for n in enumerate(all_products[k]):
        calorific_value[n[0]] += (out_products[k] * n[1]) / 100

In [187]:
for i in calorific_value:
    print(int(i), end=' ')

4963 203 307 302

Решение с помощью Pandas

In [195]:
df1=pd.read_excel('trekking2.xlsx', sheet_name='Раскладка')
df1.columns = ['Product', 'Weigth']
df2=pd.read_excel('trekking2.xlsx', sheet_name='Справочник')
df2.columns = ['Product', 'Kcal', 'Protein', 'Fat', 'Carbohydrate']
df2.fillna(0.0, inplace=True)

In [196]:
df = df1.merge(df2, how='left')

In [197]:
df['Kcal_2'] = (df['Kcal'] * df['Weigth']) / 100
df['Protein_2'] = (df['Protein'] * df['Weigth']) / 100
df['Fat_2'] = (df['Fat'] * df['Weigth']) / 100
df['Carbohydrate_2'] = (df['Carbohydrate'] * df['Weigth']) / 100

In [201]:
for i in df.iloc[:,6:].sum():
    print(int(i), end=' ')

4963 203 307 302

Васю назначили завхозом в туристической группе и он подошёл к подготовке ответственно, составив справочник продуктов с указанием калорийности на 100 грамм, а также содержание белков, жиров и углеводов на 100 грамм продукта. Ему не удалось найти всю информацию, поэтому некоторые ячейки остались незаполненными (можно считать их значение равным нулю). Также он использовал какой-то странный офисный пакет и разделял целую и дробную часть чисел запятой. Таблица доступна по ссылке https://stepik.org/media/attachments/lesson/245290/trekking3.xlsx

Вася составил раскладку по продуктам на весь поход (она на листе "Раскладка") с указанием номера дня, названия продукта и его количества в граммах. Для каждого дня посчитайте 4 числа: суммарную калорийность и граммы белков, жиров и углеводов. Числа округлите до целых вниз и введите через пробел. Информация о каждом дне должна выводиться в отдельной строке.

In [2]:
wb = xlrd.open_workbook('trekking3.xlsx') # читаю таблицу
sheet_1 = wb.sheet_by_index(0)
sheet_2 = wb.sheet_by_index(1)

In [3]:
val_1 = [sheet_1.row_values(rownum) for rownum in range(sheet_1.nrows)]
val_2 = [sheet_2.row_values(rownum) for rownum in range(sheet_2.nrows)]
for i in val_1:
    if i[4] == '':
        i[4] = 0

In [4]:
all_products = {} # создаю словарь с продуктами

for i in val_1:
    all_products[i[0]] = i[1:]

In [94]:
calorific_value = {} # словарь для конечных расчетов

for i in val_2[1:]: # цикл по всем позициям
    
    temp = [] # временный список для расчетов

    if i[0] not in calorific_value: # проверяю есть ли такой день в словаре
        calorific_value[i[0]] = [0, 0, 0, 0] # создаю пустой список для дня
        
        for n in all_products[i[1]]:
            temp += [(i[2] * n) / 100]
         
    else:
        for n in all_products[i[1]]:
            temp += [(i[2] * n) / 100]
            
            
    for pl in enumerate(temp):
        calorific_value[i[0]][pl[0]] += pl[1]

In [96]:
for k, v in calorific_value.items():
    for i in v:
        print(int(i), end=' ')
    print()

2405 82 154 172
4963 203 307 302
5219 178 267 502
4873 241 204 537
5278 243 314 367
4451 190 188 497
4806 205 265 386
5738 264 195 720
1766 66 90 171

In [605]:
df1 = pd.read_excel('trekking3.xlsx', sheet_name='Раскладка')
df1.columns = ['Day', 'Product', 'Weight']

df2 = pd.read_excel('trekking3.xlsx', sheet_name='Справочник')
df2.columns = ['Product', 'Kcal', 'Protein', 'Fat', 'Carbohydrate']
df2.fillna(0.0, inplace=True)

In [606]:
df1.head()

   Day                   Product  Weight
0    1    Рис пропаренный Увелка     160
1    1          Свинина Кронидов     250
2    1  Хлебцы льняные "Тайские"     110
3    1       Балык "Королевский"      50
4    1    Шоколад молочный какао      55

In [608]:
df = df2.merge(df1, how='outer')

In [610]:
df.head(200)

,Product,Kcal,Protein,Fat,Carbohydrate,Day,Weight
0,Сухофрукты,548.0,12.8,40.8,32.4,2.0,150.0
1,Сухофрукты,548.0,12.8,40.8,32.4,3.0,150.0
2,Сухофрукты,548.0,12.8,40.8,32.4,5.0,150.0
3,Сухофрукты,548.0,12.8,40.8,32.4,6.0,150.0
4,Сухофрукты,548.0,12.8,40.8,32.4,8.0,150.0
...,...,...,...,...,...,...,...
99,Омлет с грибами галагала,526.0,43.0,30.0,4.7,2.0,60.0
100,Омлет с грибами галагала,526.0,43.0,30.0,4.7,7.0,60.0
101,Омлет с копченостями галагала,544.0,45.0,30.0,4.7,4.0,60.0
102,Кус Кус,336.0,12.7,0.6,77.4,4.0,400.0
103,Кус Кус,336.0,12.7,0.6,77.4,8.0,400.0

In [613]:
df.groupby('Day').head()

,Product,Kcal,Protein,Fat,Carbohydrate,Day,Weight
0,Сухофрукты,548.0,12.8,40.8,32.4,2.0,150.0
1,Сухофрукты,548.0,12.8,40.8,32.4,3.0,150.0
2,Сухофрукты,548.0,12.8,40.8,32.4,5.0,150.0
3,Сухофрукты,548.0,12.8,40.8,32.4,6.0,150.0
4,Сухофрукты,548.0,12.8,40.8,32.4,8.0,150.0
5,Сухофрукты,548.0,12.8,40.8,32.4,9.0,150.0
6,Каша Быстров,334.0,8.6,4.8,64.0,3.0,80.0
7,Каша Быстров,334.0,8.6,4.8,64.0,5.0,80.0
8,Каша Быстров,334.0,8.6,4.8,64.0,6.0,80.0
9,Каша Быстров,334.0,8.6,4.8,64.0,8.0,80.0
10,Каша Быстров,334.0,8.6,4.8,64.0,9.0,80.0
11,"Балык ""Королевский""",170.0,25.0,8.0,0.0,1.0,50.0
12,"Балык ""Королевский""",170.0,25.0,8.0,0.0,5.0,100.0
13,"Балык ""Королевский""",170.0,25.0,8.0,0.0,6.0,100.0
14,"Балык ""Королевский""",170.0,25.0,8.0,0.0,8.0,60.0
15,"Балык ""Королевский""",170.0,25.0,8.0,0.0,8.0,60.0
16,"Балык ""Королевский""",170.0,25.0,8.0,0.0,9.0,80.0
17,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0,2.0,80.0
18,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0,2.0,80.0
19,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0,4.0,80.0
20,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0,4.0,80.0
21,"Колбаса с/к ""Еврейская полусухая""",481.0,19.0,45.0,0.0,7.0,100.0
22,Суп гороховый с копченостями,390.0,16.0,11.0,52.0,2.0,44.0
23,Суп гороховый с копченостями,390.0,16.0,11.0,52.0,6.0,44.0
24,Суп томатный с рисом,205.5,4.7,1.3,42.2,NaN,NaN
25,Говядина Кронидов,213.0,15.0,17.0,0.0,2.0,250.0
26,Говядина Кронидов,213.0,15.0,17.0,0.0,7.0,250.0
27,Свинина Кронидов,349.0,13.0,33.0,0.0,1.0,250.0
28,Свинина Кронидов,349.0,13.0,33.0,0.0,3.0,250.0
29,Рис пропаренный Увелка,350.0,8.0,1.0,78.0,1.0,160.0
30,Рис пропаренный Увелка,350.0,8.0,1.0,78.0,7.0,160.0
32,Крупа гречневая,360.0,13.0,2.0,72.0,5.0,160.0
33,Капеллини Макфа,344.0,12.5,1.3,70.5,3.0,250.0
34,Капеллини Макфа,344.0,12.5,1.3,70.5,6.0,250.0
35,Сухарики ржаные Finn Crisp,347.0,10.0,2.6,61.0,3.0,100.0
37,Сухарики ржаные Finn Crisp,347.0,10.0,2.6,61.0,8.0,100.0
40,Козинак арахисовый,520.0,15.0,26.0,55.0,5.0,80.0
42,Козинак арахисовый,520.0,15.0,26.0,55.0,7.0,80.0
45,Козинак подсолнечный,530.0,14.0,37.0,36.0,7.0,80.0
46,Шоколад молочный какао,601.0,7.0,43.0,46.0,1.0,55.0
47,Шоколад молочный какао,601.0,7.0,43.0,46.0,4.0,55.0
60,Сыр Гауда,338.0,26.0,26.0,0.0,4.0,100.0
67,Сухарики ржаные с семечками,451.0,17.3,16.0,59.5,4.0,120.0
71,Сухарики ржаные с семечками,451.0,17.3,16.0,59.5,9.0,120.0
72,"Хлебцы льняные ""Тайские""",507.0,19.0,39.0,20.0,1.0,110.0
78,Паутина,12.0,0.0,0.0,0.0,NaN,NaN
92,Суп-гуляш галагала,382.0,15.0,10.0,55.0,NaN,NaN
96,Суп гороховый с копченостями галагала,390.0,16.0,11.0,52.0,NaN,NaN
98,Картофель сушеный,333.0,6.0,74.0,0.0,NaN,NaN

## 2.4 ##

In [2]:
import urllib.request

In [76]:
df1 = pd.read_excel('./rogaikopyta/1.xlsx')
df1.columns = ['FIO', 'Name', 'Yes', 'Salary']
df1 = df1.iloc[[0],[1,3]]

In [77]:
for i in range(2, 1001):
    df2 = pd.read_excel(f'./rogaikopyta/{i}.xlsx')
    df2.columns = ['FIO', 'Name', 'Yes', 'Salary']
    df2 = df2.iloc[[0],[1,3]]
    df1 = df2.merge(df1, how='outer')

In [81]:
df = df1.sort_values(by='Name')

In [88]:
df.head(10)

                                    Name     Sum
963  Александров Александр Александрович   19279
636     Александров Александр Алексеевич  111877
645     Александров Александр Васильевич  121425
624     Александров Александр Дмитриевич   47073
63        Александров Александр Иванович   98888
707        Александров Александр Львович  148442
54      Александров Александр Михайлович   15649
595       Александров Александр Петрович  182105
393      Александров Александр Сергеевич   96641
452      Александров Александр Сидорович  167797

In [87]:
df['Sum'] = df.Salary.astype('int')

In [99]:
df.to_csv(r'pandas.txt', header=None, index=None, sep='\t', mode='a')