Описание данных

Имеются следующие переменные:


- Hotel – тип отеля (City Hotel или Resort Hotel)  
- Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
- Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
- Arrival full date – полная дата прибытия
- Arrival date year – год прибытия  
- Arrival date month – месяц прибытия  
- Arrival date week number – номер недели прибытия
- Arrival date day of month – день прибытия
- Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
- Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
- Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
- Adults – число взрослых
- Children – число детей
- Babies – число младенцев 
- Meal – выбранный тип питания
- Country – страна происхождения клиента
- Reserved room type – тип зарезервированного номера
- Assigned room type – тип полученного номера (может отличаться от забронированного)
- Customer type – тип бронирования
- Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину Reservation status date – дата обновления статуса

In [1]:
import pandas as pd

In [2]:
bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep=';')

In [3]:
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [4]:
bookings.shape

(119390, 21)

In [87]:
bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

In [266]:
bookings.columns = bookings.columns.str.lower()
bookings.rename(columns=lambda x: x.replace(' ', '_'), inplace=True)

In [267]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [268]:
bookings[bookings.is_canceled == 0] \
.groupby(['country']) \
.agg({'is_canceled':'count'}) \
.sort_values('is_canceled', ascending=False) \
.reset_index().head()

  country  is_canceled
0     PRT        21071
1     GBR         9676
2     FRA         8481
3     ESP         6391
4     DEU         6069

In [269]:
# запрос
bookings[bookings.is_canceled == 0] \
.country \
.value_counts()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
NCL        1
ATF        1
PYF        1
BHS        1
LCA        1
Name: country, Length: 165, dtype: int64

In [270]:
bookings[bookings.hotel == 'City Hotel'] \
.stays_total_nights \
.mean().round(decimals=2)

2.98

In [271]:
bookings[bookings.hotel == 'Resort Hotel'] \
.stays_total_nights \
.mean().round(decimals=2)

4.32

In [272]:
bookings[bookings.assigned_room_type != bookings.reserved_room_type].shape[0]

14917

In [273]:
# На какой месяц чаще всего оформляли бронь в 2016 году

bookings[bookings.arrival_date_year == 2016] \
.arrival_date_month \
.value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [274]:
# На какой месяц чаще всего оформляли бронь в 2016 году

bookings[bookings.arrival_date_year == 2017] \
.arrival_date_month \
.value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [275]:
( bookings
 [(bookings.hotel == 'City Hotel') & (bookings.is_canceled == 1)]
 .groupby('arrival_date_year')
 .arrival_date_month
 .value_counts()
)

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [276]:
bookings[['adults','children','babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [277]:
bookings['total_kids'] = bookings.children + bookings.babies

In [279]:
( bookings
 .groupby('hotel')
 .total_kids.mean()
 .round(2)
)

hotel
City Hotel      0.10
Resort Hotel    0.14
Name: total_kids, dtype: float64

In [281]:
bookings['has_kids'] = bookings.total_kids > 0

In [320]:
# доля отказов с детьми
(
    (
    bookings
    [(bookings.has_kids == True) & (bookings.is_canceled == 1)]
    .has_kids.count() / 
    bookings
    [(bookings.has_kids == True)].has_kids
    .count()    
)
    .round(4)
    * 100
)

34.92

In [319]:
(
    (
    bookings
    [(bookings.has_kids == False) & (bookings.is_canceled == 1)]
    .has_kids.count() / 
    bookings
    [(bookings.has_kids == False)].has_kids
    .count()    
)
    .round(4)
    * 100
)

37.22

In [330]:
(
    bookings
    .groupby('has_kids')
    .agg({'is_canceled': 'mean'})
    .round(4)
)

          is_canceled
has_kids
False          0.3722
True           0.3492

In [328]:
bookings.head(10)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03,0.0,False
7,Resort Hotel,0,9,2015-07-01,2015,July,27,1,0,2,...,0,FB,PRT,C,C,Transient,Check-Out,2015-07-03,0.0,False
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,0,BB,PRT,A,A,Transient,Canceled,2015-05-06,0.0,False
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,0,HB,PRT,D,D,Transient,Canceled,2015-04-22,0.0,False